.extra {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   overflow-x: hidden;
   background-color: rgb(31, 39, 47);
}

body {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   overflow-x: hidden;
   background-color: rgb(31, 39, 47);   
   padding: 0;
   margin: 0;
   overflow-x: hidden;
}

#intro {
   color: rgb(24, 26, 141);
   background-color: rgb(218, 244, 244);
   margin-bottom: 5vw;
   width: 100vw;
   font-size: 25px;
   padding: 10px;
   min-height: 190px;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

#info {
   color: rgb(1, 1, 10);
   font-size: 2vh;
}

#portfolio {
   margin-top: 5vh;
   height: 5vh;
   font-size: 3vh;
   margin-bottom: 1vh;
   overflow-x: hidden;
}

#heading {
   font-size: 5vh;
   font-weight: 1000;
}

#portfolioLink {
   color: rgb(59, 177, 201);
   font-weight: 800;
}
